<div class="app-login flex flex-column justify-content-center h-full">
    <div class="app-login-content mx-auto" style="width: 270px">
        <h1 class="text-center mt-0">Sign In</h1>
        <div class="app-login-form p-4">
            <div>
                <h3>User Name</h3>
                <input
                    type="text"
                    class="w-full"
                    pInputText
                    [(ngModel)]="username"
                    (keypress)="keyPress($event)"
                />
            </div>
            <div>
                <h3 class="first">Password</h3>
                <input
                    type="password"
                    class="w-full"
                    pPassword
                    [(ngModel)]="password"
                    (keypress)="keyPress($event)"
                    [feedback]="false"
                />
            </div>
            <div class="text-right">
                <button
                    pButton
                    class="mt-6 mr-3"
                    label="Submit"
                    [disabled]="!canSubmit"
                    (click)="submit()"
                ></button>
            </div>
        </div>
    </div>
</div>
