.app-files {
  .content-toolbar {
    button+button {
      margin-left: 5px;
    }
  }
  .content-view {

    .grid-item {
      text-align: center;

      .grid-item-icon {
        font-size: 70px;
        position: relative;
        width: 105px;
        margin: auto;

        .grid-item-state {
          position: absolute;
          bottom: 2px;
          right: 2px;
          font-size: 16px;
          text-shadow: 2px 2px #666;

          i {
            padding-right: 2px;
          }
        }

        .grid-item-private {
          color: #c79218;
        }

        .grid-item-owner {
          color: #50a6d8;
        }
      }
    }
  }
}
