<div class="app-files">
    <div class="content-toolbar">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <ng-container *ngIf="viewMode">
                    <button pButton *userPermission icon="fas fa-upload" label="Upload"
                        (click)="toolbarState='upload'"></button>
                    <button pButton *userPermission icon="fas fa-folder-plus" label="Create Folder"
                        (click)="toolbarState='newFolder'"></button>
                </ng-container>
            </div>

            <div class="p-toolbar-group-right">
                <p-toggleButton *dataAdminPermission onIcon="fas fa-pencil-alt" onLabel="" offIcon="fas fa-ban" offLabel=""
                    [(ngModel)]="viewMode" (onChange)="toolbarState=null"></p-toggleButton>
            </div>
        </p-toolbar>
        <p-fieldset *ngIf="toolbarState==='upload' && viewMode" legend="Upload">
            <p-fileUpload #fileUpload [files]="uploadFileList" customUpload="true" [showUploadButton]=false
                (uploadHandler)="uploadFiles($event)" multiple="multiple">
                <ng-template pTemplate="toolbar">
                    <div>
                        <div>
                            <p-checkbox label="Is Public" binary="true" [(ngModel)]="isPublic"></p-checkbox>
                        </div>
                        <button pButton class="p-button-success" [disabled]="fileUpload.files.length===0"
                            icon="fas fa-upload" label="Upload" (click)="fileUpload.upload($event)"></button>
                    </div>
                </ng-template>
            </p-fileUpload>
        </p-fieldset>
        <p-fieldset *ngIf="toolbarState==='newFolder' && viewMode" legend="Create Folder">
            <div>
                Name:
                <input #newFolderName type="text" pInputText />
            </div>
            <div>
                <p-checkbox label="Is Public" binary="true" [(ngModel)]="isPublic"></p-checkbox>
            </div>
            <button pButton class="p-button-success" icon="fas fa-folder-plus" label="Create"
                (click)="createFolder(newFolderName.value)"></button>
        </p-fieldset>
    </div>

    <div class="content-view">
        <p-dataView #dataView [value]="fileList">
            <ng-template pTemplate="header">
                <div class="grid">
                    <div class="col-9">
                        <a href="javascript:void(0);" (click)="pathClick(null)">files</a>
                        <ng-container *ngFor="let path of pathList">
                            <span>></span>
                            <a href="javascript:void(0);" (click)="pathClick(path)">{{path.fileName}}</a>
                        </ng-container>
                    </div>
                    <div class="col-3">
                        <div class="f-r">
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </div>
                    <ng-container *ngIf="dataView.layout==='list'">
                        <div class="col-5">Name</div>
                        <div class="col-3">Owner</div>
                        <div class="col-3">Created</div>
                        <div class="col-1">Public</div>
                    </ng-container>
                </div>
            </ng-template>

            <ng-template let-file pTemplate="listItem">
                <div class="col-5">
                    <span>
                        <i [ngClass]="{'fas fa-folder': file.isFolder,'far fa-file-alt': !file.isFolder}"></i>
                        <a href="javascript:void(0);" (click)="fileClick(file)"> {{file.fileName}}</a>
                    </span>
                </div>
                <div class="col-3">{{file.owner}}</div>
                <div class="col-3">{{file.date | date:'MM/dd/y HH:mm:ss'}}</div>
                <div class="col-1">{{file.isPublic}}</div>
            </ng-template>
            <ng-template let-file pTemplate="gridItem">
                <div class="col-12 p-md-3 p-sm-6 grid-item">
                    <div class="grid-item-icon">
                        <span>
                            <i [ngClass]="{'fas fa-folder': file.isFolder,'far fa-file-alt': !file.isFolder}"></i>
                        </span>
                        <div class="grid-item-state">
                            <i *ngIf="file.owner===userName" title="owner" class="grid-item-owner fas fa-user"></i>
                            <i *ngIf="!file.isPublic" title="private" class="grid-item-private fas fa-key"></i>
                        </div>
                    </div>
                    <a href="javascript:void(0);" (click)="fileClick(file)">{{file.fileName}}</a>
                </div>
            </ng-template>
        </p-dataView>
    </div>
    <p-confirmDialog #cd header="Confirmation" icon="fas fa-exclamation-triangle">
        <p-footer>
            <button type="button" pButton class="p-button-success" icon="fas fa-check" label="Yes"
                (click)="cd.accept()"></button>
            <button type="button" pButton icon="fas fa-times" label="No" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>