<div class="lightbox">
    <div class="lightbox-item" *ngFor="let item of items" (click)="itemClick(item)">
        <div pDefer>
            <ng-template>
                <img class="lightbox-image" [src]="getImageUrl(item)" />
                <div *ngIf="!viewMode" class="lightbox-image-state">
                    <i [style.color]="selectedItems.indexOf(item)>-1?'green':'gray'" class="fas fa-check-circle"></i>
                </div>
                <div class="lightbox-state">
                    <i *ngIf="item.owner===userName" title="owner" class="lightbox-image-owner fas fa-user"></i>
                    <i *ngIf="!item.isPublic" title="private" class="lightbox-image-private fas fa-key"></i>
                </div>
            </ng-template>
        </div>
    </div>
</div>