.lightbox {
  .lightbox-item {
    height: 155px;
    width: 130px;

    .lightbox-state {
      bottom: 8px;
      right: 3px;
      text-shadow: 2px 2px #666;
    }

    .lightbox-image-state {
      top: 4px;
      right: 8px;
    }

    .lightbox-image-private {
      color: #c79218;
    }

    .lightbox-image-owner {
      color: #50a6d8;
    }
  }
}

.lightbox-detail {
  .p-dialog-content {
    text-align: center;
  }
}
