<div
    class="app-footer flex flex-column justify-content-center bg-gray-100 border-top-1 border-gray-200"
    style="height: 54px"
>
    <div class="app-footer-content grid grid-nogutter">
        <div class="col text-center">
            <a routerLink="/images">
                <div class="text-2xl"><i class="far fa-images"></i></div>
                <span>Images</span>
            </a>
        </div>
        <div class="col text-center">
            <a routerLink="/videos">
                <div class="text-2xl"><i class="fas fa-video"></i></div>
                <span>Videos</span>
            </a>
        </div>
        <div class="col text-center">
            <a routerLink="/files">
                <div class="text-2xl"><i class="far fa-file-alt"></i></div>
                <span>Files</span>
            </a>
        </div>
        <div class="col text-center">
            <a routerLink="/system">
                <div class="text-2xl"><i class="fas fa-cog"></i></div>
                <span>System</span>
            </a>
        </div>
    </div>
</div>
