<div class="app-videos">
    <div class="content-toolbar">
        <media-toolbar type="video"></media-toolbar>
    </div>

    <div class="content-view">
        <p-accordion [multiple]="true">
            <ng-container *ngFor="let videos of videosGroup">
                <p-accordionTab [header]="videos.date" [selected]="true">
                    <lightbox #lightbox [items]="videos.videos"></lightbox>
                </p-accordionTab>
            </ng-container>
        </p-accordion>
    </div>
</div>