@import "../../../variable.scss";

.app-header {
  width: 100%;
  height: $header-height;
  background-image: linear-gradient(to left, #2bc0ec, #1b81d7);

  .app-header-content {
    margin: 0 20px;
    line-height: $header-height;

    .app-header-title {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
    }

    .app-header-user {
      float: right;
      color: #555;
    }

    .app-header-logout {
      color: #fff;
      font-size: 13px;

      a {
        cursor: pointer;
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}
