@import "../../variable.scss";

.app-login {
  height: 400px;
  width: 250px;
  top: $header-height;

  .sign-in {
    margin-top: 0;
    text-align: center;
  }

  input {
    width: 100%;
  }

  .submit {
    margin-top: 40px;
    margin-left: 61%;
  }
}
