<div class="app-user-config">
    <div class="content-toolbar">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button pButton icon="fas fa-user-plus" label="New User" (click)="newUser()"></button>
            </div>
        </p-toolbar>
    </div>
    <p-table [value]="users" dataKey="userName" editMode="row" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>UserName</th>
                <th>NickName</th>
                <th>UserRole</th>
                <th>Password</th>
                <th style="width:8em"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="user">
                <td>{{user.userName}}</td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.nickName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.nickName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <user-role-dropdown [(ngModel)]="user.role"></user-role-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.role | userRole}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.password">
                        </ng-template>
                        <ng-template pTemplate="output">
                            ********
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="fas fa-pencil-alt"
                        class="p-button-info" style="margin-right: .5em" (click)="rowEditInit(user)"></button>
                    <button *ngIf="!editing" pButton type="button" icon="pi pi-times" class="p-button-danger"
                        (click)="rowDelete(user, ri)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="p-button-success" style="margin-right: .5em" (click)="rowEditSave(user)"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-undo"
                        class="p-button-danger" (click)="rowEditCancel(user, ri)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
        <p-footer>
            <button type="button" pButton class="p-button-success" icon="pi pi-check" label="Yes"
                (click)="cd.accept()"></button>
            <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</div>