@import "../../variable.scss";

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $footer-height;
  z-index: 9;

  border-top: 1px solid #ddd;
  background: #eee;

  .app-footer-item {
    text-align: center;

    .app-footer-item-icon {
      font-size: 20px;
    }

    .app-footer-item-name {
      font-size: 13px;
    }
  }
}
