<div class="app-footer ui-g">
    <div class="ui-g-3 app-footer-item">
        <a routerLink="/images">
            <span><i class="far fa-images app-footer-item-icon"></i></span><br />
            <span class="app-footer-item-name">Images</span>
        </a>
    </div>
    <div class="ui-g-3 app-footer-item">
        <a routerLink="/videos">
            <span><i class="fas fa-video app-footer-item-icon"></i></span><br />
            <span class="app-footer-item-name">Videos</span>
        </a>
    </div>
    <div class="ui-g-3 app-footer-item">
        <a routerLink="/files">
            <span><i class="far fa-file-alt app-footer-item-icon"></i></span><br />
            <span class="app-footer-item-name">Files</span>
        </a>
    </div>
    <div class="ui-g-3 app-footer-item">
        <a routerLink="/system">
            <span><i class="fas fa-cog app-footer-item-icon"></i></span><br />
            <span class="app-footer-item-name">System</span>
        </a>
    </div>
</div>