<div class="app-main app-icons common-center">
    <div class="icons-item">
        <div (click)="updateRoute('images')" class="icons-item-container">
            <i class="far fa-images"></i>
            <div>Images</div>
        </div>
    </div>
    <div class="icons-item">
        <div (click)="updateRoute('videos')" class="icons-item-container">
            <i class="fas fa-video"></i>
            <div>Videos</div>
        </div>
    </div>
    <div class="icons-item">
        <div (click)="updateRoute('files')" class="icons-item-container">
            <i class="far fa-file-alt"></i>
            <div>Files</div>
        </div>
    </div>
    <div class="icons-item">
        <div (click)="updateRoute('system')" class="icons-item-container">
            <i class="fas fa-cog"></i>
            <div>System</div>
        </div>
    </div>
</div>