@import "./variable.scss";

body {
  margin: 0;
  margin-bottom: $footer-height;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.p-f {
  position: fixed;
}

.f-r {
  float: right;
}

.f-l {
  float: left;
}

.c-b {
  clear: both;
}

.common-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

//primeng
.p-dialog-content {
  height: 100%;
}

p-calendar input {
  width: 100px;
}

.content-toolbar {
  margin: 5px;

  button+button {
    margin-left: 5px;
  }
}

.p-multiselect {
  div.p-multiselect-panel {
    min-width: 220px;
  }
}

.app-icons {
  width: 80%;
  height: 90%;

  .icons-item {
    float: left;
    box-sizing: border-box;
    margin: 13px;
    width: 118px;
    cursor: pointer;

    .icons-item-container {
      text-align: center;
      vertical-align: middle;

      i {
        font-size: 90px;
      }

      div {
        font-size: 19px;
        font-weight: bold;
      }

      &:hover {
        i {
          font-size: 95px;
        }

        div {
          font-size: 21px;
          font-weight: bold;
        }
      }
    }
  }
}
